// //Separator Block
.block.separator {
  top: unset;
  display: block;
  height: 54px;
  border: none;
  margin: 50px 0;
  clear: both;

  &:not(.inner):not([role='presentation']) {
    padding: 25px 0 !important;
  }

  &::after {
    display: none !important;
  }

  .line {
    width: unset;
    height: unset;

    &:not(.inner)::after {
      position: relative;
      top: 50%;
      display: block;
      width: unset;
      border-top: 1px solid #000;
      margin-top: -1px;
      content: '';
    }
  }

  &.has--align--left {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--noLine--true {
    .line::after {
      display: none;
    }
  }
}

.block-editor-separator {
  clear: both;

  &.has--align--left .block.separator {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }
}
