// Separator Block
.block.separator {
  display: block;
  height: 54px;
  border: none;
  margin: 32px 0;

  .line {
    height: 54px;

    &::after {
      position: relative;
      top: 50%;
      display: block;
      border-top: 4px solid #ececed;
      margin-top: -2px;
      content: '';
    }
  }
}
